# Preprocessing of the data

In [1]:
import geopandas as gpd
import pandas as pd

## Tree data

In [48]:
df_trees = gpd.read_file('../data/geo_data_trees.geojson')
df_trees = df_trees[~df_trees['Tree ID'].isna()]
df_trees = df_trees.astype({'Tree ID': 'int32'})
df_trees = df_trees.set_index('Tree ID')

df_trees.head()

,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),Carbon Avoided (kg/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
Tree ID,,,,,,,,,,,,,,,,,,,,,
1,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,None,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
2,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,None,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
3,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,None,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
4,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,None,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
7,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,None,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)

In [49]:
df_trees.to_csv('../data_clean/trees.csv')

## Circoscrizioni

In [12]:
df_circoscrizioni = gpd.read_file('../data/circoscrizioni.json')
df_circoscrizioni = df_circoscrizioni.rename({
    'numero_cir':'Circoscrizione ID',
    'area': 'Circoscrizione Area',
    'perimetro': 'Circoscrizione Perimeter',
    'nome': 'Circoscrizione Name',
    'fumetto': 'Circoscrizione Full Name'
}, axis=1)
df_circoscrizioni = df_circoscrizioni.set_index('Circoscrizione ID')

df_circoscrizioni.head()

,Circoscrizione Area,Circoscrizione Perimeter,Circoscrizione Name,Circoscrizione Full Name,geometry
Circoscrizione ID,,,,,
2,15712181,17850,MEANO,Circoscrizione n. 2 - MEANO,"POLYGON ((11.15678 46.11661, 11.15687 46.11666..."
3,36949609,38485,BONDONE,Circoscrizione n. 3 - BONDONE,"POLYGON ((11.08026 46.11571, 11.08026 46.11571..."
4,8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA,"POLYGON ((11.09034 46.07917, 11.09032 46.07899..."
6,13199398,20575,ARGENTARIO,Circoscrizione n. 6 - ARGENTARIO,"POLYGON ((11.17163 46.08095, 11.17161 46.08106..."
11,3073349,10962,S.GIUSEPPE-S.CHIARA,Circoscrizione n. 11 - S.GIUSEPPE-S.CHIARA,"POLYGON ((11.11135 46.05878, 11.11137 46.05878..."

In [50]:
df_tree_circo = gpd.tools.sjoin(df_trees, df_circoscrizioni, predicate="within", how='left')

df_tree_circo.head()

,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),Carbon Avoided (kg/yr),...,Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry,index_right,Circoscrizione Area,Circoscrizione Perimeter,Circoscrizione Name,Circoscrizione Full Name
Tree ID,,,,,,,,,,,,,,,,,,,,,
1,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,None,...,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160),4,8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA
2,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,None,...,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154),4,8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA
3,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,None,...,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167),4,8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA
4,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,None,...,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378),7,15433274,18464,POVO,Circoscrizione n. 7 - POVO
7,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,None,...,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230),4,8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA

In [52]:
df_tree_circo.to_csv('../data_clean/trees_located.csv')

## Viz 1: Tree abundance

In [53]:
df_tree_abundance = df_trees.groupby(['Name'], axis=0)['Name'].count().sort_values(ascending=False).reset_index(name='Count')
df_tree_abundance.head()

Name
Celtis australis          1028
Aesculus hippocastanum     581
Carpinus betulus           536
Tilia cordata              509
Platanus x hispanica       502
Name: Name, dtype: int64

In [54]:
df_tree_abundance.to_csv('../data_clean/a1_v1_tree_abundance.csv')

## Top 5 Circoscrizioni

In [61]:
df_circo_counts = df_tree_circo.groupby('Circoscrizione Name')['Circoscrizione Name'].count()
top_circo = df_circo_counts.sort_values(ascending=False)

## Top 5 Trees

In [56]:
df_most_abundant_trees = df_tree_abundance[:5]
df_most_abundant_trees

Name
Celtis australis          1028
Aesculus hippocastanum     581
Carpinus betulus           536
Tilia cordata              509
Platanus x hispanica       502
Name: Name, dtype: int64

In [57]:
top_trees = list(df_most_abundant_trees.index)
other_trees = [tree for tree in list(df_trees['Name'].unique()) if tree not in top_trees]

## Viz 2: Stacked bar chart with small multiples

In [65]:
df_circo_tree_counts = pd.crosstab(df_tree_circo['Circoscrizione Name'], df_tree_circo['Name'])

other_tree_sum_column = df_circo_tree_counts[other_trees].sum(axis=1)
df_circo_tree_counts = df_circo_tree_counts[top_trees]
df_circo_tree_counts['Other'] = other_tree_sum_column

df_circo_tree_counts = df_circo_tree_counts.sort_values(by='Celtis australis', ascending=False)

df_circo_tree_counts

Name,Celtis australis,Aesculus hippocastanum,Carpinus betulus,Tilia cordata,Platanus x hispanica,Other
Circoscrizione Name,,,,,,
OLTREFERSINA,341,34,126,116,31,2047
CENTRO STORICO PIEDICASTELLO,242,91,159,55,192,2225
GARDOLO,211,4,53,216,169,998
S.GIUSEPPE-S.CHIARA,83,405,123,31,53,2329
ARGENTARIO,61,9,18,5,12,349
MATTARELLO,25,1,13,6,6,213
POVO,21,13,1,1,2,151
VILLAZZANO,19,0,33,35,3,326
RAVINA-ROMAGNANO,15,3,5,34,23,239
MEANO,9,0,2,1,9,185
BONDONE,1,21,3,9,2,256
SARDAGNA,0,0,0,0,0,38

In [81]:
df_circo_tree_counts.to_csv('../data_clean/a1_v2_stacked_chart.csv')

## Viz 3: Stacked bar with small multiples

In [88]:
df_circo_tree_counts_tot = df_circo_tree_counts.loc[list(top_circo.index)]
df_circo_tree_counts_tot['Total'] = df_circo_tree_counts.sum(axis=1)
df_circo_tree_counts_tot = df_circo_tree_counts_tot.sort_values('Total', ascending=False)

df_circo_tree_counts_tot

Name,Celtis australis,Aesculus hippocastanum,Carpinus betulus,Tilia cordata,Platanus x hispanica,Other,Total
Circoscrizione Name,,,,,,,
S.GIUSEPPE-S.CHIARA,83,405,123,31,53,2329,3024
CENTRO STORICO PIEDICASTELLO,242,91,159,55,192,2225,2964
OLTREFERSINA,341,34,126,116,31,2047,2695
GARDOLO,211,4,53,216,169,998,1651
ARGENTARIO,61,9,18,5,12,349,454
VILLAZZANO,19,0,33,35,3,326,416
RAVINA-ROMAGNANO,15,3,5,34,23,239,319
BONDONE,1,21,3,9,2,256,292
MATTARELLO,25,1,13,6,6,213,264
MEANO,9,0,2,1,9,185,206
POVO,21,13,1,1,2,151,189
SARDAGNA,0,0,0,0,0,38,38

In [113]:
df_circo_tree_counts_tot.to_csv('../data_clean/a1_v3_stacked_chart_tot.csv')

## Viz 4: Stacked bar chart 100%

In [112]:
circo_totals = df_circo_tree_counts_tot['Total'].astype(float).values
circo_totals = circo_totals.reshape((circo_totals.shape[0],1))
df_circo_tree_counts_perc = df_circo_tree_counts_tot.astype(float) / circo_totals * 100
df_circo_tree_counts_perc

Name,Celtis australis,Aesculus hippocastanum,Carpinus betulus,Tilia cordata,Platanus x hispanica,Other,Total
Circoscrizione Name,,,,,,,
S.GIUSEPPE-S.CHIARA,2.744709,13.392857,4.067460,1.025132,1.752646,77.017196,100.0
CENTRO STORICO PIEDICASTELLO,8.164642,3.070175,5.364372,1.855601,6.477733,75.067476,100.0
OLTREFERSINA,12.653061,1.261596,4.675325,4.304267,1.150278,75.955473,100.0
GARDOLO,12.780133,0.242277,3.210176,13.082980,10.236220,60.448213,100.0
ARGENTARIO,13.436123,1.982379,3.964758,1.101322,2.643172,76.872247,100.0
VILLAZZANO,4.567308,0.000000,7.932692,8.413462,0.721154,78.365385,100.0
RAVINA-ROMAGNANO,4.702194,0.940439,1.567398,10.658307,7.210031,74.921630,100.0
BONDONE,0.342466,7.191781,1.027397,3.082192,0.684932,87.671233,100.0
MATTARELLO,9.469697,0.378788,4.924242,2.272727,2.272727,80.681818,100.0
MEANO,4.368932,0.000000,0.970874,0.485437,4.368932,89.805825,100.0
POVO,11.111111,6.878307,0.529101,0.529101,1.058201,79.894180,100.0
SARDAGNA,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,100.0

In [114]:
df_circo_tree_counts_perc.to_csv('../data_clean/a1_v4_stacked_chart_perc.csv')

## Viz 5: Waffle chart

Can use same data as viz4

In [115]:
df_circo_tree_counts_perc.to_csv('../data_clean/a1_v5_waffle_cahrt.csv')