In [8]:
import pandas as pd
import datetime as dt

In [11]:
df= pd.read_csv('../data/Salurn-Salorno-multiannual-LT-N-daily-temperature-precipitation.csv')
df = df.iloc[: , :-1]
df.tail()

             date  sum  min   max
14970  27.12.2021  ---  2,3     6
14971  28.12.2021  ---  2,7   6,3
14972  29.12.2021  ---  0,6  10,7
14973  30.12.2021  ---  3,2   9,9
14974  31.12.2021  ---  3,9  11,5

In [12]:
df['date'] = pd.to_datetime(df['date'])

df.tail()

C:\Users\clara\AppData\Local\Temp\ipykernel_18356\2797983779.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['date'] = pd.to_datetime(df['date'])

            date  sum  min   max
14970 2021-12-27  ---  2,3     6
14971 2021-12-28  ---  2,7   6,3
14972 2021-12-29  ---  0,6  10,7
14973 2021-12-30  ---  3,2   9,9
14974 2021-12-31  ---  3,9  11,5

In [14]:
years = ['1993', '1997', '2001', '2005', '2009', '2013', '2017', '2021']
include = df[df['date'].dt.year == '2005']
include.tail()

AttributeError: 'list' object has no attribute 'any'