In [1]:
import pandas as pd
import datetime as dt

In [2]:
df= pd.read_csv('../data/Salurn-Salorno-multiannual-LT-N-daily-temperature-precipitation.csv')
df.tail()

             date  sum  min   max
14970  27.12.2021  ---  2.3     6
14971  28.12.2021  ---  2.7   6.3
14972  29.12.2021  ---  0.6  10.7
14973  30.12.2021  ---  3.2   9.9
14974  31.12.2021  ---  3.9  11.5

In [3]:
df['date'] = pd.to_datetime(df['date'])

df.tail()

C:\Users\clara\AppData\Local\Temp\ipykernel_19236\2797983779.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['date'] = pd.to_datetime(df['date'])

            date  sum  min   max
14970 2021-12-27  ---  2.3     6
14971 2021-12-28  ---  2.7   6.3
14972 2021-12-29  ---  0.6  10.7
14973 2021-12-30  ---  3.2   9.9
14974 2021-12-31  ---  3.9  11.5

In [4]:
years = [1993, 1997, 2001, 2005, 2009, 2013, 2017, 2021]
needed_years=df[df['date'].dt.year.isin(years)]
needed_years.tail()

            date  sum  min   max
14970 2021-12-27  ---  2.3     6
14971 2021-12-28  ---  2.7   6.3
14972 2021-12-29  ---  0.6  10.7
14973 2021-12-30  ---  3.2   9.9
14974 2021-12-31  ---  3.9  11.5

In [5]:
needed_years['mean'] = (needed_years['min'].astype('float'))+needed_years['max'].astype('float')/2
needed_years.tail()

C:\Users\clara\AppData\Local\Temp\ipykernel_19236\1673121589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needed_years['mean'] = (needed_years['min'].astype('float'))+needed_years['max'].astype('float')/2

            date  sum  min   max  mean
14970 2021-12-27  ---  2.3     6  5.30
14971 2021-12-28  ---  2.7   6.3  5.85
14972 2021-12-29  ---  0.6  10.7  5.95
14973 2021-12-30  ---  3.2   9.9  8.15
14974 2021-12-31  ---  3.9  11.5  9.65

In [6]:
needed_years.to_csv("../data_clean/Salorno_dates.csv")

In [7]:
df_new = pd.DataFrame(columns=["year", "month", "min"])

In [8]:
needed_years['year'] = needed_years['date'].dt.year
needed_years['month'] = needed_years['date'].dt.month
df_new= needed_years.groupby(['year', 'month'])['min'].min().reset_index()
df_new['max']= needed_years.groupby(['year', 'month'])['max'].max().reset_index()['max']
df_new['mean']= needed_years.groupby(['year', 'month'])['mean'].mean().reset_index()['mean']

C:\Users\clara\AppData\Local\Temp\ipykernel_19236\1228305449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needed_years['year'] = needed_years['date'].dt.year
C:\Users\clara\AppData\Local\Temp\ipykernel_19236\1228305449.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needed_years['month'] = needed_years['date'].dt.month

In [9]:
df_new

    year  month   min  max       mean
0   1993      1    -1    9   4.822581
1   1993      2    -1    8   6.000000
2   1993      3    -1    9  12.935484
3   1993      4    -2    8  16.316667
4   1993      5    -1    7  20.790323
..   ...    ...   ...  ...        ...
91  2021      8  -0.3  8.5  23.953226
92  2021      9  -1.3  8.2  21.985000
93  2021     10  -5.7    7  13.758065
94  2021     11  -0.4  9.8  11.468333
95  2021     12  -0.3  9.9   7.622581

[96 rows x 5 columns]

In [10]:
dict = {1 : 'January', 2 : 'February', 3: 'March', 4 : 'April', 5: 'May', 6: "June", 7: "July", 8:"August", 9: "September", 10:"October", 11: "November", 12: "December"}
df_new=df_new.replace({"month": dict})
print(df_new)

    year      month   min  max       mean
0   1993    January    -1    9   4.822581
1   1993   February    -1    8   6.000000
2   1993      March    -1    9  12.935484
3   1993      April    -2    8  16.316667
4   1993        May    -1    7  20.790323
..   ...        ...   ...  ...        ...
91  2021     August  -0.3  8.5  23.953226
92  2021  September  -1.3  8.2  21.985000
93  2021    October  -5.7    7  13.758065
94  2021   November  -0.4  9.8  11.468333
95  2021   December  -0.3  9.9   7.622581

[96 rows x 5 columns]

In [11]:
df_new.to_csv('../data_clean/monthly_data.csv')